#navi{background-color: aquamarine;
    padding-left: 8em;
    border-bottom-style:solid;
    
    
}

#navielem{
    
    margin-right: 1em;
    margin-left: 1em;
    align-content: center;
}

#logo{
    
    border-bottom-style: inset;
}


#hyperlien{
    margin-left: 2em;
}
#equipe{
float: right;
    
}
#equipe{
  resize: both;
}