*{
    text-align: center;
}
h2{
    font-weight: bold;
}
h3{
    font-style : italic;
}
#adresse{
    padding : 10px;
    border :solid;
    border-color: red;
    margin-left:35em;
    margin-right:35em;
}